
/* 
    Created on : Mar 10, 2023, 11:54:28 PM
    Author     : maiphuonghoang
*/
:root{
    --paddingTd: 15px;
    --marginTd: -15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;

}
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #e46ece;
    /*background-color: #ffeb3b;*/
    /*background-color: #f0975b;*/
    margin-bottom: 20px;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    font-weight: 400;
    font-size: 1.2rem;
}
.header__list{
    display: flex;
    list-style: none;

}

.header__link{
    text-decoration: none;
    color: #fff;
    padding: 20px 40px ;
    display: block;

}
.header__link:hover{
    transform: scale(1.1);
    color: #000;
    font-weight: 800;
}
/* table */

table, th, td{
    border:1px solid #00000045;
    padding: var(--paddingTd);
    text-align: center;
}

th{
    background-color: #04bb55;
    text-transform: uppercase;
}
/*td > div.hasSlot{
    position: relative;
}*/
.hasSlot{
    background-color: #ffffcc;
    text-align: start;
    margin: var(--marginTd);
    padding: var(--paddingTd);
/*    margin: -20px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;*/

}
table{
    border-collapse:collapse;
    margin: 10px auto;
    border-spacing: 20px;
    width: 90%
}
/* Button */
.btn--save{
    padding:8px;
    background-color: #04bb55;
    color: #fff;
    font-size: 1rem;
    width: 100px;
    border: 0.5px solid #000;
    cursor: pointer;

}
.student-list{
    font-size: 0.8rem;
}
select{
    padding: 4px;
}






