
/* 
    Created on : Mar 10, 2023, 11:54:28 PM
    Author     : maiphuonghoang
*/


.hasSlot{
    background-color: #ffffcc;
    text-align: start;
    margin: var(--marginTd);
    padding: var(--paddingTd);
    min-height:116px;
    min-width: 158px;

}
table{
    width: 95%
}

.student-list{
    font-size: 0.8rem;
}
select{
    padding: 4px;
}






